<div class="container mt-5 ">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <h3 class="mb-5 d-none d-md-block">Productos</h3>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 hidden-xs">
            <div class="controls pull-right p-4">
                <a class="left fa fa-chevron-left btn btn-info " href="#product-slider-bootstrap"
                    data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-info"
                    href="#product-slider-bootstrap" data-slide="next"></a>
            </div>
        </div>
    </div>
    <div id="product-slider-bootstrap" class="carousel slide hidden-xs" data-ride="carousel" data-type="multi">
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="slider-item">
                            <div class="slider-image">
                                <a href="<%=`/collections/${products[0].id}` %>">
                                    <img src="<%= products[0].img %> " class="img-responsive" alt="a" /></a>
                            </div>
                            <div class="slider-main-detail">
                                <div class="slider-detail">
                                    <div class="product-detail">
                                        <h5>
                                            <%= products[0].name %>
                                        </h5>
                                        <h5 class="detail-price">
                                            <%= products[0].price %>
                                        </h5>
                                    </div>
                                </div>
                                <div class="cart-section">
                                    <div class="row">
                                        <div class="col-lg-5 col-sm-12 col-xs-6 review">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-6">
                                            <a href="#" class="AddCart btn btn-info"><i class="fa fa-shopping-cart"
                                                    aria-hidden="true"></i>
                                                Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="slider-item">
                            <div class="slider-image">
                                <img src="\images\descarga (1).jpg" class="img-responsive" alt="a" />
                            </div>
                            <div class="slider-main-detail">
                                <div class="slider-detail">
                                    <div class="product-detail">
                                        <h5>Ray-ban</h5>
                                        <h5 class="detail-price">$692.41</h5>
                                    </div>
                                </div>
                                <div class="cart-section">
                                    <div class="row">
                                        <div class="col-lg-5 col-sm-12 col-xs-6 review">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-6">
                                            <a href="#" class="AddCart btn btn-info"><i class="fa fa-shopping-cart"
                                                    aria-hidden="true"></i>
                                                Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="slider-item">
                            <div class="slider-image">
                                <img src="\images\descarga (2).jpg" class="img-responsive" alt="a" />
                            </div>
                            <div class="slider-main-detail">
                                <div class="slider-detail">
                                    <div class="product-detail">
                                        <h5>Ray-ban</h5>
                                        <h5 class="detail-price">$692.41</h5>
                                    </div>
                                </div>
                                <div class="cart-section">
                                    <div class="row">
                                        <div class="col-lg-5 col-sm-12 col-xs-6 review">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-6">
                                            <a href="#" class="AddCart btn btn-info"><i class="fa fa-shopping-cart"
                                                    aria-hidden="true"></i>
                                                Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="slider-item">
                            <div class="slider-image">
                                <img src="\images\lentes-de-sol-rusty-bruk2.jpg" class="img-responsive" alt="a" />
                            </div>
                            <div class="slider-main-detail">
                                <div class="slider-detail">
                                    <div class="product-detail">
                                        <h5>Rusty</h5>
                                        <h5 class="detail-price">$692.41</h5>
                                    </div>
                                </div>
                                <div class="cart-section">
                                    <div class="row">
                                        <div class="col-lg-5 col-sm-12 col-xs-6 review">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-6">
                                            <a href="#" class="AddCart btn btn-info"><i class="fa fa-shopping-cart"
                                                    aria-hidden="true"></i>
                                                Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="slider-item">
                            <div class="slider-image">
                                <img src="\images\descarga.jpg" class="img-responsive" alt="a" />
                            </div>
                            <div class="slider-main-detail">
                                <div class="slider-detail">
                                    <div class="product-detail">
                                        <h5>Ray-ban</h5>
                                        <h5 class="detail-price">$692.41</h5>
                                    </div>
                                </div>
                                <div class="cart-section">
                                    <div class="row">
                                        <div class="col-lg-5 col-sm-12 col-xs-6 review">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-6">
                                            <a href="#" class="AddCart btn btn-info"><i class="fa fa-shopping-cart"
                                                    aria-hidden="true"></i>
                                                Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="slider-item">
                            <div class="slider-image">
                                <img src="\images\images (5).jpg" class="img-responsive" alt="a" />
                            </div>
                            <div class="slider-main-detail">
                                <div class="slider-detail">
                                    <div class="product-detail">
                                        <h5>Ray-ban</h5>
                                        <h5 class="detail-price">$692.41</h5>
                                    </div>
                                </div>
                                <div class="cart-section">
                                    <div class="row">
                                        <div class="col-lg-5 col-sm-12 col-xs-6 review">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-6">
                                            <a href="#" class="AddCart btn btn-info"><i class="fa fa-shopping-cart"
                                                    aria-hidden="true"></i>
                                                Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="slider-item">
                            <div class="slider-image">
                                <img src="\images\lentes-de-sol-rusty-bruk.jpg" class="img-responsive" alt="a" />
                            </div>
                            <div class="slider-main-detail">
                                <div class="slider-detail">
                                    <div class="product-detail">
                                        <h5>Rusty</h5>
                                        <h5 class="detail-price">$692.41</h5>
                                    </div>
                                </div>
                                <div class="cart-section">
                                    <div class="row">
                                        <div class="col-lg-5 col-sm-12 col-xs-6 review">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-6">
                                            <a href="#" class="AddCart btn btn-info"><i class="fa fa-shopping-cart"
                                                    aria-hidden="true"></i>
                                                Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="slider-item">
                            <div class="slider-image">
                                <img src="\images\anteojos-de-sol-polaroid-.jpg" class="img-responsive" alt="a" />
                            </div>
                            <div class="slider-main-detail">
                                <div class="slider-detail">
                                    <div class="product-detail">
                                        <h5>Polaroid 2060/9NP</h5>
                                        <h5 class="detail-price">$9999.99</h5>
                                    </div>
                                </div>
                                <div class="cart-section">
                                    <div class="row">
                                        <div class="col-lg-5 col-sm-12 col-xs-6 review">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-6">
                                            <a href="#" class="AddCart btn btn-info"><i class="fa fa-shopping-cart"
                                                    aria-hidden="true"></i>
                                                Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>