<header class="header ">
    <div class="header-container">
        <h1 class="logo"><a href="/"><img src="/images/logo2.png" alt="" /></a></h1>
        <nav class="nav-bar">
            <a href="/register">Cre치 tu cuenta</a>
            <a href="/login">Ingres치</a>
            <a href="#">Mis Compras</a>
            <a href="#">Contacto</a>
        </nav>



        <nav class="navbar navbar-dark  d-md-none">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header bg-dark text-light">

                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body bg-dark text-light">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mb-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/register">Cre치
                                    tu
                                    cuenta</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/login">Ingres치</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Mis Compras</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Contacto</a>
                            </li>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Buscar</button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <div class="right-icon-menu">
            <a href="/cart">
                <i class="fas fa-shopping-cart icon-shop"></i>
            </a>
        </div>

        <div class="right-icon-menu-desktop">
            <i class="fas fa-search icon-search"></i>
            <i class="far fa-heart icon-search"></i>

            <a href="/login"><i class="far fa-user icon-search"></i></a>

            <a href="/cart">
                <i class="fas fa-shopping-cart icon-shop"></i>
            </a>
        </div>

    </div>
</header>