<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
    <title>Ray-ban Aviator</title>
</head>

<body>
  <%- include("./partials/header") %>
    <main class="prod-container">
      <article>
        <section class="main-product">
          <div class="modelos">
            <img class="rusty-bruk1" src="/images/lentes-de-sol-rusty-bruk1.jpg">
            <img class="rusty-bruk1" src="/images/lentes-de-sol-rusty-bruk2.jpg">
            <img class="rusty-bruk1" src="/images/lentes-de-sol-rusty-bruk1.jpg">
          </div>
          <div class="image-product">
            <img class="rusty-bruk" src="/images/lentes-de-sol-rusty-bruk.jpg" alt="imagen principal">
          </div>
          <div class="product-description">

            <h1>Ray Ban Aviator</h1>
            <div class="star-description">
              <i class="far fa-star"></i> <i class="far fa-star"></i><i class="far fa-star"></i><i
                class="far fa-star"></i><i class="far fa-star"></i>
            </div>
            <P class="price">$15.000</P>
            <P class="description">Comodos y modernos lentes Ray Ban aviator con marco dorado en distintos colores</P>

            <p class="button-position">
              <button class="button" type="submit" name="comprar" id="">
                <p>Comprar ahora</p>
              </button>
            </p>




          </div>


      </article>

      </section>

      <div class="button-tablet">
        <p class="button-position">
          <button class="button1" type="submit" name="comprar" id="">
            <p>Comprar ahora</p>
          </button>
        </p>
      </div>

      <section class="related-products">
        <h2>Productos Relacionados</h2>


        <div class="productos2">

          <div class="prod2">
            <img src="/images/descarga (3).jpg" alt="">
            <div>
              <i></i>
              <h3>Ray Ban Hexagonal</h3>
              <p>Modernos Ray Ban Hexagonal unisex</p>
            </div>

          </div>

          <div class="prod2">
            <img src="/images/images (5).jpg" alt="">
            <div>
              <i></i>
              <h3>Ray Ban Clasic</h3>
              <p>Clasic Ray Ban Hexagonal unisex</p>
            </div>

          </div>
          <div class="prod2">
            <img src="/images/descarga (3).jpg" alt="">
            <div>
              <i></i>
              <h3>Ray Ban Hexagonal</h3>
              <p>Modernos Ray Ban Hexagonal unisex</p>
            </div>

          </div>

        </div>
      </section>
    </main>
    <%- include("./partials/footer") %>
</body>

</html>