<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <title>Registro</title>
</head>

<body>
    <%- include("./partials/header") %>
        <section>
            <main class="container-content">
                <form action="crear-producto" method="post" class="create-form">
                    <div class="control-form">
                        <input type="text" name="nombre" placeholder="Nombre y apellido" class="control">
                    </div>
                    <div class="control-form">
                        <input type="text" name="user" placeholder="Nombre de usuario" class="control">
                    </div>
                    <div class="control-form">
                        <input type="email" name="mail" placeholder="E-mail" class="control">
                    </div>
                    <div class="control-form">
                        <label>Fecha de nacimiento</label>
                        <input type="date" name="birdate" class="control">
                    </div>
                    <div class="control-form">
                        <input type="text" name="direction" placeholder="Domicilio" class="control">
                    </div>

                    <div class="control-form">
                        <label>Seleccioná una foto de perfil:</label>
                        <input type="file" name="avatar" accept="image/*" class="control">
                    </div>
                    <div class="control-form">
                        <input type="password" name="pass" placeholder="Contraseña" class="control">
                    </div>
                    <div class="control-form">
                        <input type="password" name="pass" placeholder="Confirmar Contraseña" class="control">
                    </div>
                    <button type="submit" class="button-form">Enviar</button>
                    <button type="reset" class="button-form">Borrar</button>
                </form>
            </main>
            <%- include("./partials/footer") %>
</body>

</html>