.home-container {
    margin: 0px auto;
    background-color: #e7e7e7;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.div-slider {
    width: 100%;
    height: 250px;
    background-color: violet;
    margin-top: 120px;
}

.div-slider-2 {
    width: 100%;
    height: 250px;
    background-color: violet;
    margin-top: 10px;
}

.product .truck-icon {
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    right: 20px;
    top: -15px;
    background-color: white;
    color: green;
}

.circle {
    background-color: #fff;
    border: 1px solid red;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
}

/* 3 BLOCK SECTION */
.three-block-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 59px;
}
.blocks-shops {
    margin-top: 0.5px;
}
.block-shop-for-women {
    width: inherit;
    height: 400px;
    background-image: url(/images/bc-women-block.jpg);
    background-repeat: no-repeat;
    background-size: 100% 400px;
    position: relative;
}
.block-shop-for-men {
    width: inherit;
    height: 400px;
    background-image: url(/images/bc-men-block.jpg);
    background-repeat: no-repeat;
    background-size: 100% 400px;
    position: relative;
}
.block-shop-do-it {
    width: inherit;
    height: 400px;
    background-image: url(/images/do-it-your-own-block.jpg);
    background-repeat: no-repeat;
    background-size: 100% 400px;
    position: relative;
    max-width: 500px;
}

.block-shop-do-it-tablet {
    display: none;
}

.content-block {
    position: absolute;
    top: 73px;
    left: 14px;
    width: 213px;
}

.block-tittle {
    color: black;
    font-size: 36px;
    font-weight: bolder;
}

.block-p {
    color: black;
    font-size: 20px;
    font-weight: 600;
}

/* DISCOUNTS AND PROMOS */

.discount-blocks {
    padding: 40px 0px;
    margin: 0 auto;
    background-color: #e7e7e7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.discount-top {
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.25);
    margin: 5px auto;
    background-color: #fff;
    border-radius: 10px;
}

.discount-product {
    padding: 10px;
    max-width: 400px;
}

.discount-content {
    text-align: center;
}

.display-by-category-marca {
    padding-top: 25px;
    margin: 0 auto;
}

/* CATEGORIAS */

.display-by-category {
    padding: 25px 0px;
}

.display-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contenedor-category {
    width: 40%;
    margin: 7px;
    padding: 7px;
    background-color: #fff;
    position: relative;
    max-width: 150px;
}

.contenedor-category img {
    height: 100px;
}

.content-category {
    position: absolute;
    bottom: 0px;
}
