.prod-container {
    margin: 0px auto;
    background-color: #e7e7e7;
}

.main-product {
    margin-bottom: 30px;
    margin-top: 157px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.modelos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    margin-top: 30px;
}
.rusty-bruk1 {
    margin-bottom: 3px;
    width: 80px;
    height: 80px;
}
.rusty-bruk1:hover {
    box-shadow: 1px -2px 9px 5px rgb(225, 225, 233);
    transition: box-shadow 0.1s;
    border: solid 1.5px #3b87fa;
    border-radius: 4px;
}

.image-product {
    margin: 5px;
    display: flex;
    justify-content: center;
    width: auto;
    height: 450px;
}

.image-product img {
    border-radius: 30px;
}

.image-product :hover {
    box-shadow: 1px -2px 9px 5px rgba(168, 168, 168, 1);
    transition: box-shadow 0.1s;
}

.product-description {
    height: auto;
    width: 20%;
    border: 2px solid rgba;
    border-radius: 20px;
    background-color: white;
}

.product-description h1 {
    margin-top: 5px;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}
.star-description {
    text-align: center;
    margin-bottom: 25px;
    color: hsl(225, 83%, 50%);
}
.description {
    line-height: 2;
}

.price {
    margin-left: 5px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
}

.button-position {
    text-align: center;
}
.button {
    margin: 30px auto;
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid #3483fa;
    border-radius: 15px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #3483fa; /* Green */
    color: white;
}

.related-products {
    margin: 40px;
    width: auto;
    height: auto;
}
.related-products h2 {
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}
.productos2 {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.prod2 {
    margin: 5px;
}
.prod2 img {
    width: 276px;
    height: 183px;
}

.prod2 :hover {
    box-shadow: 1px -2px 9px 5px rgba(168, 168, 168, 1);
    transition: box-shadow 0.1s;
}

@media (min-width: 769px) {
    .button-tablet {
        display: none;
    }
}
/* button para tablet*/
.button1 {
    margin: 30px auto;
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid #3483fa;
    border-radius: 15px;
}
.button1 {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button1:hover {
    background-color: #3483fa; /* Green */
    color: white;
}
