.container-shop {
    width: 90%;
    margin: 70px auto 0px;
}

.wrapper {
    width: 50%;
    padding: 10px;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
}
.product {
    margin: 15px 0;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product .product-content {
    text-align: center;
}

.product .product-content .price {
    font-size: 14px;
}

.product .product-content .discount {
    width: 70%;
    font-size: 14px;
    display: none;
}

.product .truck-icon {
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    right: 20px;
    top: -15px;
    background-color: white;
    color: green;
}

.circle {
    background-color: #fff;
    border: 1px solid red;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
}

.wrapper a {
    text-decoration: none;
}

.shop-heading {
    border-bottom: solid black 2px;
    font-size: 28px;
}
