@media (min-width: 1000px) {
    .wrapper {
        width: 25%;
    }

    .product {
        margin: 15px 12px;
    }

    .product:hover {
        box-shadow: 0 30px 40px rgba(0, 0, 0, 0.125);
    }
}
