/* ESTILOS COMUNES */

body {
    background-color: #e7e7e7;
}

.w-100 {
    width: 100%;
}
.w-50 {
    width: 50%;
}

.p {
    padding: 16px;
    margin-bottom: 0 !important;
}

.pt {
    padding-top: 16px;
}

.pv {
    padding-top: 18px;
    padding-bottom: 18px;
}

.pvs {
    padding: 4px 0px;
}

.b {
    border-width: 1px;
    border-style: solid;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.bbw {
    border-bottom: solid white 1px;
    max-width: 1200px;
}

.bbb {
    border-bottom: solid black 1px;
}

.font-small {
    font-size: 14px;
}

.font-medium {
    font-size: 18px;
}

.font-large {
    font-size: 1.5em;
}

/* HEADER */

.header {
    /* padding-bottom: 15px; */
    width: 100%;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.88);
}

.header-container {
    width: 90%;
    max-width: 1500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    order: 2;
    margin-top: 2px;
    margin-bottom: 9px;
}
.logo img {
    width: 80px;
}

.left-icon-menu {
    display: inline-block;
    border-radius: 25px;
    position: relative;
    order: 1;
}
.right-icon-menu {
    padding: 5px 0px;
    display: inline-block;
    border-radius: 25px;
    position: relative;
    order: 3;
}

.right-icon-menu-desktop {
    display: none;
}

.icon-bars {
    font-size: 22px;
    color: white;
}

.icon-shop {
    font-size: 16px;
    padding: 0px 10px;
    color: white;
}

.icon-search {
    color: white;
    padding: 20px;
    font-size: 20px;
    transition: all 500ms ease;
}

.nav-bar {
    float: right;
    text-transform: uppercase;
    display: none;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    line-height: normal;
    font-size: 14px;
    transition: all 500ms ease;
    border-bottom: 4px solid transparent;
}

.nav-bar a:hover {
    color: violet;
    border-bottom: 4px solid violet;
}

.div-searchbar {
    padding-top: 10px;
}

.searchbar {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.div-icon-search {
    margin: auto;
    padding-top: 10px;
    display: inline-block;
    justify-self: center;
    text-align: center;
}

.container-content {
    margin: auto;
    margin-top: 110px;
    width: 300px;
}
.container-content-login {
    margin: auto;
    margin-top: 110px;
    width: 300px;
}
.create-form {
    padding: 20px 15px;
    border: 1px solid lightgray;
    background-color: whitesmoke;
    border-radius: 10px;
}

.control {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
}
.control-form {
    margin-bottom: 20px;
}

.control-form label {
    margin-bottom: 5px;
    margin-top: 20px;
    font-style: italic;
    display: block;
}

.button-form {
    background-color: rgb(31, 31, 31);
    border: none;
    font-size: 15px;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    width: 100%;
}
.button-g {
    background-color: #fff;
    border: 1px #000 solid;
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.button-form-content {
    background-color: rgb(31, 31, 31);
    border: none;
    font-size: 15px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
}
.button-form-content:hover {
    background-color: #3d4660;
}

/* FOOTER */

.footer-wrapper {
    z-index: 500;
    padding-top: 0.75rem;
    padding-bottom: 1.75rem;
    margin-top: 3.125rem;
    color: #686868;
    background: #fff;
    border-top: 1px solid rgba(104, 104, 104, 0.55);
}
.footer-items {
    max-width: 1400px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}
.footer-block {
    border-bottom: 1px solid rgba(104, 104, 104, 0.55);
}
.footer-block-tittle {
    padding: 1rem 0px;
    color: black;
}
.footer-block-content {
    padding-bottom: 1.25rem;

    font-weight: 600;
}
.footer-menu {
    list-style: none;
    margin: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.footer-menu-li {
    margin-top: 0.5rem;
}

.footer-menu-icons {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.footer-menu-icons li {
    margin: 0px 4px;
    font-size: 25px;
}

.cartitems {
    display: flex;
    justify-content: center;
    height: 358px;
    padding: 10px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 50%);
    flex-direction: column;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
}

/* CART */

.cart-content {
    margin: auto;
    margin-top: 70px;
    width: 90%;
}

.cart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-header a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.cartitems p {
    font-weight: bold;
}
.cartitems a {
    background-color: gray;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin: 20px auto;
    border-radius: 5px;
}
.pt-5 {
    padding-top: 152px !important;
}
.navbar-toggler-icon {
    width: 20px !important;
}
.offcanvas {
    bottom: auto !important;
}
.container-fluid {
    padding: 0 !important;
}
.navbar-toggler {
    padding: 0.45rem 0.55rem !important;
}
.navbar {
    margin-bottom: 0 !important;
}

.navbar-nav {
    margin: auto !important;
    padding: 10px !important;
}

.carousel-indicators .active {
    width: 30px !important;
    height: 3px !important;
}
