@media (min-width: 1000px) {
    .main-product {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1170px;
        align-items: center;
    }

    .carousel {
        width: 60% !important;
    }
    .carousel-1 {
        width: auto !important;
    }
    .product-button {
        width: 30%;
    }
}
