.prod-container {
    margin: 0px auto;
}

.main-product {
    margin: 0px auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rusty-bruk1 {
    margin-bottom: 3px;
    width: 80px;
    height: 80px;
}
.rusty-bruk1:hover {
    box-shadow: 1px -2px 9px 5px rgb(225, 225, 233);
    transition: box-shadow 0.1s;
    border: solid 1.5px #3b87fa;
    border-radius: 4px;
}

.image-product {
    margin: 5px;
    display: flex;
    justify-content: center;
    width: auto;
    height: 450px;
}

.image-product img {
    border-radius: 30px;
}

.image-product :hover {
    box-shadow: 1px -2px 9px 5px rgba(168, 168, 168, 1);
    transition: box-shadow 0.1s;
}

.product-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-description {
    height: auto;
    width: 190px;
    border: 2px solid rgba;
    border-radius: 20px;
    background-color: white;
    margin-top: 15px;
    text-align: center;
}

.product-description h1 {
    margin-top: 5px;
    font-size: 15px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}
.button-product {
    max-width: 450px;
    height: 60px;
    margin: 30px auto;
    background-color: #3483fa;
    border: none;
    color: black;
    padding: 3px 12px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid #3483fa;
    text-transform: uppercase;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.star-description {
    text-align: center;
    margin-bottom: 25px;
    color: hsl(225, 83%, 50%);
}
.description {
    line-height: 2;
}

.price {
    font-size: 15px;
    font-weight: bold;
}

/*
.button:hover {
    background-color: #3483fa; 
    color: white;
}*/

.related-products {
    margin: 40px;
    width: auto;
    height: auto;
}
.related-products h2 {
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}
.productos2 {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.prod2 {
    margin: 5px;
}
.prod2 img {
    width: 276px;
    height: 183px;
}

.prod2 :hover {
    box-shadow: 1px -2px 9px 5px rgba(168, 168, 168, 1);
    transition: box-shadow 0.1s;
}

/* button para tablet
.button1 {
    margin: 30px auto;
    background-color: #ebebeb;

    color: black;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    border-radius: 5px;
}
.button1 {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
.button1:hover {
    background-color: #3483fa; 
    color: white;
} 
*/

.carousel {
    width: 90% !important;
    max-width: 1170px !important;
}
.carousel-inner {
    border-radius: 15px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.button-product-edit {
    max-width: 450px;
    background-color: gray;
    border: none;
    color: black;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid gray;
    text-transform: uppercase;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button-product-delete {
    max-width: 450px;
    background-color: red;
    border: none;
    color: black;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid red;
    text-transform: uppercase;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
