<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>

</head>

<body>
    <%- include("./partials/header") %>
        <section>
            <main class="container-content-login">
                <div class="button-gf-login">
                    <button type="submit" class="button-g"><i class="fab fa-google"
                            style="margin-right: 20px;"></i>Continuar con
                        Google</button>
                    <button type="submit" class="button-g"><i class="fab fa-facebook-square"
                            style="margin-right: 20px;"></i>Continuar con
                        Facebook</button>
                </div>
                <form action="crear-producto" method="post" class="create-form">

                    <div class="control-form">
                        <input type="text" name="user" placeholder="Nombre de usuario" class="control">
                    </div>

                    <div class="control-form">
                        <input type="password" name="pass" placeholder="Contraseña" class="control">
                    </div>

                    <button type="submit" class="button-form-content">Enviar</button>
                </form>
            </main>
            <%- include("./partials/footer") %>
</body>

</html>