<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/cart.css" type="text/css" />
    <%- include("./partials/head") %>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"
            id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

</head>


<body>

    <%- include("./partials/header") %>
        <section>
            <main class="cart-content">
                <div class="cart-header">
                    <h1>Tu carrito</h1>

                </div>

                <div class="container">

                    <table id="cart" class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th style="width:50%">Product</th>
                                <th style="width:10%">Price</th>
                                <th style="width:8%">Quantity</th>
                                <th style="width:22%" class="text-center">Subtotal</th>
                                <th style="width:10%"></th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                        <tfoot>

                            <tr>
                                <td><a href="/collections" class="btn btn-warning"><i class="fa fa-angle-left"></i>
                                        Continue
                                        Shopping</a></td>
                                <td colspan="2" class="hidden-xs"></td>
                                <td class="hidden-xs text-center total"><strong>Total $0</strong></td>
                                <td><a href="#" class="btn btn-success btn-block">Checkout <i
                                            class="fa fa-angle-right"></i></a></td>
                            </tr>
                        </tfoot>

                    </table>


                </div>

            </main>

            <%- include("./partials/footer") %>


                <script>

                    function delete1(e) {
                        /* console.log(e.parentElement.parentElement.children[1].textContent); */
                        let items = []
                        /* console.log(items); */
                        let productNumbers = localStorage.getItem("cartNumbers");
                        let cartItems = localStorage.getItem("productsInCart");
                        let cartCost = localStorage.getItem("totalCost");

                        items.price = parseInt(items.price);
                        cartItems = JSON.parse(cartItems);
                        let item = Object.values(cartItems)
                        for (let i = 0; i < item.length; i++) {


                            if (item[i].id != e.parentElement.parentElement.children[1].textContent) {
                                items.push(item[i])

                            }

                            else if (item[i].id == e.parentElement.parentElement.children[1].textContent) {


                                localStorage.setItem("totalCost", cartCost - (item[i].price * item[i].inCart))
                                localStorage.setItem("cartNumbers", productNumbers - item[i].inCart);
                            }
                        }

                        localStorage.setItem(
                            "productsInCart",
                            JSON.stringify(items))
                        alert("Eliminaste el producto del carrito")
                        window.location.reload()

                    }
                </script>
                <script src="/js/otroMas.js"></script>

</body>

</html>