<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="\js\loginValidation.js"></script>

</head>

<body>
    <%- include("./partials/header") %>
        <section>
            <main class="container-content-login">
                <div class="button-gf-login">
                    <button type="submit" class="button-g"><i class="fab fa-google"
                            style="margin-right: 20px;"></i>Continuar con
                        Google</button>
                    <button type="submit" class="button-g"><i class="fab fa-facebook-square"
                            style="margin-right: 20px;"></i>Continuar con
                        Facebook</button>
                </div>

                <form action="/login" method="post" class="create-form">
                    <ul class="errors"></ul>
                    <div class="control-form">
                        <input type="text" name="email" id="email" placeholder="Correo Electrónico" class="control">
                    </div>

                    <div class="control-form">
                        <input type="password" name="password" id="password" placeholder="Contraseña" class="control">
                    </div>
                    <% if (locals.errors && errors.email) { %>
                        <p style="color: red">
                            <%= errors.email.msg %>
                        </p>
                        <% } %>

                            <input type="checkbox" name="remember"> Recordame
                            <br>
                            <br>
                            <button type="submit" class="button-form-content">Entrar</button>
                </form>
            </main>
            <%- include("./partials/footer") %>
</body>

</html>