<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>

</head>

<body>
    <%- include("./partials/header") %>
        <section>
            <main class="thank-header">



                <h1>Gracias por registrarte <%= usuario.name %>
                </h1>



            </main>
            <%- include("./partials/footer") %>

</body>

</html>